<h1>Servers</h1>

{{#link-to "servers.new"}}Add{{/link-to}}

<table class="table">
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Address</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |server|}}
            {{#unless server.isNew}}
                <tr>
                    <td>{{server.hostname}}</td>
                    <td>{{server.ip}}</td>
                    <td>{{server.status}}</td>
                    <td>
                        <button class="btn btn-default" {{action 'power' server}}>Power</button>
                        <button class="btn btn-danger" {{action 'destroy' server}}>Destroy</button>
                    </td>
                </tr>
            {{/unless}}
        {{/each}}
    </tbody>
</table>

{{outlet}}
