{{#modal-container}}
    <div class="modal-body row">
        <div class="col-xs-10">
            <h3>Hostname</h3>
            {{input value=model.hostname class="_hostname form-control" placeholder="example.org"}}

            <h3>Flavor</h3>
            <div class="_flavors options-wrapper">
                {{#each flavors as |flavor|}}
                    {{#option-selector option=flavor selection=model.flavor title=flavor.name group="flavor"}}
                        <ul>
                            <li>Memory: {{memory flavor.ram}}</li>
                            <li>vCPUs: {{flavor.cpu}}</li>
                            <li>Storage: {{memory flavor.disk}}</li>
                            <li>Hourly rate: {{flavor.hourlyRate}}</li>
                        </ul>
                    {{/option-selector}}
                {{/each}}
            </div>

            <h3>Operating system</h3>
            <div class="_images options-wrapper">
                {{#each images as |image|}}
                    {{#option-selector option=image selection=model.image title=image.title group="image"}}
                        <ul>
                            <li><strong>Requirements:</strong></li>
                            <li>Memory: {{memory image.minRam}}</li>
                            <li>vCPUs: {{image.minCpu}}</li>
                            <li>Storage: {{memory image.minDisk}}</li>
                        </ul>
                        <i class="os-icon fa {{if image.isLinux 'fa-linux' 'fa-windows'}}"></i>
                    {{/option-selector}}
                {{/each}}
            </div>
        </div>
        <div class="col-xs-2">
            <h3>Overview</h3>
            {{server-review server=model}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" {{action 'cancel'}} disabled={{model.isSaving}}>
            Cancel
        </button>
        <button class="_submit btn btn-success" {{action 'save'}} disabled={{model.isSaving}}>
            <i class="fa {{if model.isSaving 'fa-refresh fa-spin' 'fa-rocket'}}"></i>
            Save
        </button>
    </div>
{{/modal-container}}
